<!DOCTYPE html>
<html>

<head>
  <title>Web Demo - Cloud Computing</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
 <header>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="https://www.48hourslogo.com/48hourslogo_data/2019/02/19/82002_1550578485.png" width="90" height="80"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"style = "font-szie: 100px" >Trang Chủ</a>
        </li>
        <div class="dropdown">
   <button class="nut_dropdown btn btn-light" >Customer</button>
   <div class="noidung_dropdown">
     <a href="/paradigm/list">Customer Paradigm</a>
     <a href="/wooden/list">Customer Wooden</a>
     
   </div>
 </div>

 <div class="dropdown">
   <button class="nut_dropdown btn btn-light">Admin</button>
   <div class="noidung_dropdown">
     <a href="/paradigm">Admin Paradigm</a>
     <a href="/wooden">Admin Wooden</a>
     
   </div>
 </div>
        
        
      </ul>
    </div>
  </div>
</nav>
  </header>

  {{!-- render ra body của từng webpage --}}
  {{{body}}}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>